.gjs-blog-content {
  a:not(.member-item) {
    color: red;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  margin-bottom: 16px;

  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 16px;
  }

  h1 {
    font-size: 48px;
    line-height: 60px;
    margin-top: 48px;
  }

  h2 {
    font-size: 36px;
    line-height: 42px;
    margin-top: 68px;
  }

  h3 {
    font-size: 28px;
    line-height: 28px;
    margin-top: 64px;
  }

  h4 {
    font-size: 24px;
    line-height: 24px;
    margin-top: 32px;
  }

  > p,
  > ul {
    margin-top: 16px;
    font-size: 18px;
    line-height: 24px;
  }

  > p {
    margin-bottom: 12px;
  }

  blockquote {
    box-sizing: border-box;
    position: relative;
    max-width: 85%;
    margin: 20px 0 24px 5%;
    padding: 18px 30px;
    border-left: 4px solid theme('colors.red.500');
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 10%);
    background-color: theme('colors.slate.100');

    blockquote {
      background-color: theme('colors.slate.100');
    }

    p {
      margin: 8px 0;
    }
  }

  @media all and (max-width: 785px) {
    h1 {
      font-size: 36px !important;
      line-height: 48px !important;
      margin-top: 48px;
    }

    h2 {
      font-size: 28px !important;
      line-height: 34px !important;
      margin-top: 68px;
    }

    h3 {
      font-size: 22px !important;
      line-height: 22px !important;
      margin-top: 64px;
    }

    > p,
    > ul {
      margin-top: 16px !important;
      font-size: 14px !important;
      line-height: 20px !important;
    }
  }

  // TODO: We should remove this rule probably.
  & > img {
    margin: 16px 0;
  }

  > ul {
    list-style-type: disc;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-inline-start: 40px;
    border-radius: 4px;
    font-size: 16px;

    li:not(:last-child) {
      margin-bottom: 8px;
    }

    li::marker {
      unicode-bidi: isolate;
      font-variant-numeric: tabular-nums;
      text-transform: none;
      text-indent: 0px !important;
      text-align: start !important;
      text-align-last: start !important;
    }

    li::marker {
      font-size: 100%;
      color: #494949;
    }
  }
}

.ch-code-scroll-content {
  position: relative !important;
}
